@import '../../index.scss';

//TODO: CLEAN UP
$lite-font-color: #b0b0b0;

#app-footer{
  height: 100%;
  // background-color: $app-primary-color;
  background-color: black;
  color: white;
  position: relative;
  
  // #grid-wrapper{
  //   padding: 80px 0;
  // }
  #grid-wrapper{
    padding-top: 80px;
    padding-bottom: 50px;
  }

  @mixin titleSpacing(){
    margin: 10px;
    padding: 0;
  }

  h5{
    @include titleSpacing();
    text-transform: uppercase;
  }

  p{
    margin: 0 10px 10px 10px;
  }

  hr{
    padding: 0;
    margin: 10px 10px;

    border: none;
    height: 1px;
    color: $lite-font-color; /*Old browser support*/
    background-color: $lite-font-color;
  }


  ul,li{
    display: block;
    text-align: center;
    padding: 0;
    margin: 0;
  }
  ul{
    margin: 0 20px 20px 20px;
  }
  li{
    margin: 10px 0;
  }

  #copyright{
    margin-top: 50px;
    color: $lite-font-color;
    padding: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    font-size: 10pt;
  }
}



.text-highlight{
  font-weight: bold;
}