@import '../../../index.scss';

//Possible global styles
$lite-font-color: #b0b0b0;
.text-highlight{
  font-weight: bold;
}


a{
  text-decoration: none;
  color: $lite-font-color;
}

@mixin titleSpacing(){
  margin: 10px;
  padding: 0;
}

#app-footer{
  height: 100%;
  background-color: black;
  color: white;
  position: relative;


  
  #grid-wrapper{
    padding-top: 80px;
    padding-bottom: 50px;
  }

  #company-name{
    @include titleSpacing();
    text-align: center;
    font-size: 15pt;
    text-transform: uppercase;
  }

  .footer-section-title{
    @include titleSpacing();
    text-align: center;
    text-transform: uppercase;
    color: $lite-font-color;
  }

  hr{
    padding: 0;
    margin: 10px 10px;
    border: none;
    height: 1px;
    color: $lite-font-color; /*Old browser support*/
    background-color: $lite-font-color;
  }

  .footer-section-list{
    display: block;
    text-align: center;
    margin: 0 20px 20px 20px;
    padding: 0;
    li{
      display: block;
      text-align: center;
      margin: 10px 0;
    }
  }

  #footer-bottom-section {
    margin-top: 50px;
    color: $lite-font-color;
    padding: 3px;
    position: relative;
    display: flex;
    justify-content: space-around;
    font-size: 10pt;
    p {
      margin: 0 10px 15px 10px;
    }
  }
}


