@import '../../../index.scss';

nav{
  padding: 0 30px;
  background-color: white;

  .nav-wrapper {
    .brand-logo{
      color: black;
      font-size: 18pt;
      font-weight: 500;
    }
    .right{
      text-transform: uppercase;
      font-weight: 500;
      a{
        color: black;
      }
    }
  }
}