@import '../../../index.scss';

nav{
  padding-left: 20px;
  padding-right: 20px;
  background-color: white;

  .nav-wrapper {


    .brand-logo{
      color: black;
      font-size: 18pt;
      font-weight: 500;
    }
    .right{
      a{
        color: black;
      }
    }

  }
}